<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="KET_VALUE" value="NUGET_VALUE" />
  </packageSources>

  <!-- 패키지 소스별 인증 정보 -->
  <packageSourceCredentials>
    <!-- MyFeed는 위에서 설정한 패키지 소스의 이름입니다. -->
    <WardGames>
      <!-- 패키지 소스에 접근할 때 사용할 사용자 이름 -->
      <!-- Azure DevOps는 실제 사용자 이름을 요구하지 않으므로, 임의의 값을 사용할 수 있습니다. -->
      <add key="Username" value="USER_NAME" />
      <!-- 패키지 소스에 접근할 때 사용할 패스워드 -->
      <!-- Azure DevOps에서는 이곳에 개인 액세스 토큰을 입력합니다. -->
      <add key="ClearTextPassword" value="PASSWORD" />
    </WardGames>
  </packageSourceCredentials>
</configuration>
